.paragraph {
    color: red;

}
#text {
    color:blue;

}
.google{
    font-size: 55px;
    text-align: relative;
}
#G{
    color: rgb(51,103,214);
}
#o{
    color: rgb(197,57,41);
}
.o{
    color: rgb(240,147,0);
}
#g{
    color: rgb(52,103,214);
}
#l{
    color: rgb(11,128,67);
}
#e{
    color: rgb(197,57,41);
}
